root = true

[*.cs]

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
insert_final_newline=true
csharp_style_expression_bodied_properties=false:silent
csharp_style_expression_bodied_indexers=false:silent
csharp_style_expression_bodied_accessors=false:silent
csharp_style_expression_bodied_lambdas=false:silent

# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = error

# Require var only when evident.
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion

# Disallow throw expressions.

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# CA1715: Identifiers should have correct prefix
dotnet_naming_style.pascal_case_and_prefix_with_I_style.required_prefix =

dotnet_style_prefer_is_null_check_over_reference_equality_method=false:suggestion
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = error
